<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Olá,</p>
    <p>Segue relatório.</p>
    <p>Atenciosamente</p>
  </body>
</html>
